<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Casus Belli</title>
    <link href="~/Styles/Style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
    <body>
        <div style="padding: 20px; background-color: #A4B49E;">
            <div class="UpperLayoutPanel">
                <a href="/Home"><div class="logo"></div></a>
                <div class="menu">
                    <ul>
                        <a href="/ProductsList">
                            <li>КАТАЛОГ ТОВАРІВ</li>
                        </a>
                        <a href="/FAQ">
                            <li>FAQ</li>
                        </a>
                        <a href="/Contacts">
                            <li>Контакти</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
        <div style="padding: 20px; background-color: #A4B49E;">
            <div class="footerLayoutPage">
                <div class="footermenu">
                    <ul>
                        <a href="/Home">
                            <li>Головна</li>
                        </a>
                        <a href="/ProductsList">
                            <li>Каталог Товарів</li>
                        </a>
                        <a href="/FAQ">
                            <li>FAQ</li>
                        </a>
                        <a href="/Contacts">
                            <li>Контакти</li>
                        </a>
                    </ul>
                </div>
                <div class="footercontact">
                    <ul>
                        <li>+38(093)5535511</li>
                        <li>+38(050)7863461</li>
                        <li>admin@casusbelli.com.ua</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
