@using System.Web.Optimization
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Casus Belli</title>
        <link href="~/Styles/Style.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="styles/jquery.bxslider.css" />
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
        <script type="text/javascript" src="Scripts/maphilight.js"></script>
        <script type="text/javascript" src="Scripts/jquery.bxslider.js"></script>
        <script type="text/javascript" src="Scripts/main.js"></script>
        @RenderSection("Scripts", false)
    </head>
    <body>
        <div id="all">
            <header id="header">
                <a href="/Home"><div id="logo"></div></a>
                <nav>
                    <ul>
                        <li><a href='/ProductsList'>КАТАЛОГ ТОВАРІВ</a></li>
                        <li><a href='/FAQ'>FAQ</a></li>
                        <li><a href='/Contacts'>КОНТАКТИ</a></li>
                    </ul>
                </nav>
            </header>
            <div>
                @RenderBody()
            </div>
            <footer>
                <div id="footext">
                    <ul>
                        <li><a href='/Home'>ГОЛОВНА</a></li>
                        <li><a href='/ProductsList'>СПИСОК ТОВАРІВ</a></li>
                        <li><a href='/FAQ'>FAQ</a></li>
                        <li><a href='/Contacts'>КОНТАКТИ</a></li>
                    </ul>
                </div>
                <div id="contacts">
                    <div class="phone">+38(093)55 355 11</div>
                    <div class="phone">+38(050)78 634 61</div>
                    <div>
                        Admin@casusbelli.com.ua
                    </div>
                </div>
            </footer>
        </div>
</body>
</html>
