@model CasusBelli.UI.Models.ClientsViewModel


<form action="/Admin/CreateClient" method="POST">
        Name <br />
        <input type="text" name="name" id="Name" /> <br />
        Phone <br />
        <input type="text" name="phone" id="Phone" /><br />
        Email <br />
        <input type="text" name="email" id="Email" /><br />
        City <br />
        <input type="text" name="city" id="City" /><br />
        NPOffice <br />
        <input type="text" name="NPOffice" id="NPOffice" /><br />
        Additional Info <br />
        <input type="text" name="addiotionalInfo" id="AddiotionalInfo" />
    </form>