@model List<CasusBelli.Domain.Entities.ProductSubType>

@{
    ViewBag.Title = "ByType";
    Layout = "~/_Layout.cshtml";
}



@foreach (var p in Model)
{
    <div class="ProductType">
        <div>
            <div>
                <img src="@p.Photo" />
            </div>
            <h3>@p.SubTypeName</h3>
            <h4>@p.Price грн.</h4>
            <h5>@p.SubTypeText</h5>
            <a href="~/Order?subTypeId=@p.SubTypeId"><h3>Оформити замовлення</h3></a>
        </div>
    </div>
}
