@font-face {
    font-family: Myriad; /* Имя шрифта */
    src: url(../fonts/MyriadPro-Cond.otf); /* Путь к файлу со шрифтом */
   }

body {
    max-width: 1209px;
    min-width: 1113px;
    margin: 0px auto;
    font-family: Myriad;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

p a, td a {
    color: blue;
}

table {
    border: 1px;
    border-spacing: 0;
}

table td {
    padding: 5px;
}

h2 {
    border-top: 4px solid;
}

h3 {
    border-top: 2px dashed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 5px;
    cursor: pointer;
}

li:hover {
    background: #C6D9BF;
}

img {
    height: 100%;
    width: 100%;
}

/*           EditFOrModel CSS              */

.editor-field {
    margin-bottom: .8em;
}
.editor-label {
    font-weight: bold;
}
.editor-label:after {
    content: ":";
}
.text-box {
    width: 25em;
}
.multi-line {
    height: 5em;
    font-family: Segoe UI, Vernada;
}

/*           EditFOrModel CSS              */

.UpperLayoutPanel {
    height: 100px;
    background-color: #A4B49E;
    position: relative;
    border-bottom: black 1px solid;
}

.footerLayoutPage {
    height: 100px;
    background-color: #A4B49E;
    position: relative;
}

.menu {
    bottom: 3px;
    right: 10px;
    position: absolute;
}

.footermenu {
    bottom: 5px;
    position: absolute;
}

.footercontact {
    top: 5px;
    right: 10px;
    position: absolute;
}

.footercontact ul {
    display: table-cell;
}

.footercontact ul li {
    display: table;
}

.logo {
    background: url(Images/logo.png) no-repeat;
    background-size: contain;
    height: 100%;
    width: 10%;
}

.map {
    background: #A4B49E;
    width: 100%;
    height: 600px;
}

.country {
    background-size: contain;
    background-repeat: no-repeat;
}

.arrowlink {
    background: url(../Styles/Images/arrow.png);
    height: 47px;
    width: 100px;
    background-size: contain;
    float: right;
    position: relative;
    top: -220px;
    right: 34px;
    cursor: pointer;
}

.arrowlinkleft {
    background: url(../Styles/Images/arrowleft.png);
    height: 100%;
    width: 100%;
    background-size: contain;
    float: right;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
}

.arrowlinkright {
    background: url(../Styles/Images/arrowright.png);
    height: 100%;
    width: 100%;
    background-size: contain;
    float: right;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
}

.panelarrowleft {
    position: relative; float: right; top: -54px; right: -68px; width: 18%; height: 50px;
    background-repeat: no-repeat;
}

.panelarrowright {
    position: relative; float: right; top: 136px; right: 100px; width: 18%; height: 50px;
    background-repeat: no-repeat;
}

.ProductType {
    display: inline-block;
    width: 49%; 
}

.typeimage {
    width: 53%;
    padding-top: 70px;
}

.validation-summary-errors {
    color: red;
}

.Message {
    color: green;
}

.createbtn {
    cursor: pointer;
}