body {
    width: 60%;
    margin: 0px auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 5px;
    cursor: pointer;
}

li:hover {
    background: #C6D9BF;
}

img {
    height: 100%;
    width: 100%;
}

/*           EditFOrModel CSS              */

.editor-field {
    margin-bottom: .8em;
}
.editor-label {
    font-weight: bold;
}
.editor-label:after {
    content: ":";
}
.text-box {
    width: 25em;
}
.multi-line {
    height: 5em;
    font-family: Segoe UI, Vernada;
}

/*           EditFOrModel CSS              */

.UpperLayoutPanel {
    height: 100px;
    background-color: #A4B49E;
    position: relative;
    border-bottom: black 1px solid;
}

.footerLayoutPage {
    height: 100px;
    background-color: #A4B49E;
    position: relative;
}

.menu {
    bottom: 3px;
    right: 10px;
    position: absolute;
}

.footermenu {
    bottom: 5px;
    position: absolute;
}

.footercontact {
    top: 5px;
    right: 10px;
    position: absolute;
}

.footercontact ul {
    display: table-cell;
}

.footercontact ul li {
    display: table;
}

.logo {
    background: url(Images/logo.png) no-repeat;
    background-size: contain;
    height: 100%;
    width: 10%;
}

.map {
    background: #A4B49E;
    width: 100%;
    height: 600px;
}

.country {
    background-size: contain;
    background-repeat: no-repeat;
}

.arrowlink {
    background: url(../Styles/Images/arrow.png);
    height: 47px;
    width: 100px;
    background-size: contain;
    float: right;
    position: relative;
    top: -220px;
    right: 34px;
    cursor: pointer;
}

.arrowlinkleft {
    background: url(../Styles/Images/arrowleft.png);
    height: 47px;
    width: 100px;
    background-size: contain;
    float: right;
    position: relative;
    cursor: pointer;
}

.arrowlinkright {
    background: url(../Styles/Images/arrowright.png);
    height: 47px;
    width: 100px;
    background-size: contain;
    float: right;
    position: relative;
    cursor: pointer;
}

.ProductType {
    display: inline-block;
    width: 49%; 
}

.typeimage {
    width: 300px;
    height: 300px;
    padding-top: 70px;
}

.validation-summary-errors {
    color: red;
}

.Message {
    color: green;
}