@model IEnumerable<CasusBelli.Domain.Entities.ProductType>

@{
    ViewBag.Title = "Index";
    Layout = "~/_Layout.cshtml";
}

<div class="map">
    <img class="country" src="../Styles/Images/england.png" style=" width: 138px; height: 238px; position: relative; top: 20px; left: 135px; background-size: contain;" usemap="#englandmap"></img>
    <img class="country" src="../Styles/Images/germany.png" style=" width: 223px; height: 238px; position: relative; top: 167px; left: 242px; background-size: contain; " usemap="#germanymap"></img>
    <img class="country" src="../Styles/Images/holland.png" style=" width: 84px; height: 91px; position: relative; top: 62px; left: -36px; background-size: contain;" usemap="#hollandmap"></img>
    <img class="country" src="../Styles/Images/chesko.png" style=" width: 147px; height: 78px; position: relative; top: 128px; left: 71px; background-size: contain; " usemap="#cheskomap"></img>
    <img class="country" src="../Styles/Images/austria.png" style=" width: 175px; height: 76px; position: relative; top: 188px; left: -142px; background-size: contain; " usemap="#austriamap"></img>
    <img class="country" src="../Styles/Images/ukraine.png" style=" width: 309px; height: 208px; position: relative; top: 188px; left: -54px; background-size: contain; " usemap="#ukrainemap"></img>
    <div class="arrowlink"></div>
    <map name="englandmap">
        <area href="/" shape="poly" coords="39,59,33,78,28,88,17,86,6,98,2,104,0,113,10,121,29,126,41,126,45,135,44,147,41,156,34,163,39,170,37,180,18,184,22,195,34,202,1,229,0,234,126,236,128,218,139,193,130,178,118,175,118,143,104,124,100,98,91,85,112,46,86,38,105,14,110,4,102,0,93,14,72,10,61,20,56,9,32,24,22,44,26,50,37,36">
    </map>
    <map name="hollandmap">
        <area href="/" coords="32,17,27,34,18,43,9,52,2,58,1,69,7,71,18,69,26,67,39,73,46,77,46,82,43,86,44,90,54,91,54,86,53,82,58,77,60,67,56,57,72,53,80,41,74,35,80,31,85,16,83,9,76,2,66,0,56,0,48,0,40,3,36,8"/>
    </map>
    <map name="germanymap">
        <area href="/" coords="62,28,54,34,20,40,16,46,22,50,24,62,17,74,15,90,1,95,1,108,0,126,2,142,6,142,4,150,7,160,11,169,18,178,34,182,49,185,40,200,37,219,38,229,51,229,67,226,85,230,93,233,100,237,106,233,118,234,141,229,152,227,161,231,165,232,165,221,162,210,176,202,184,196,178,183,157,167,152,161,154,154,151,145,200,126,203,131,211,117,208,108,202,100,204,90,200,81,202,75,191,66,197,58,192,38,189,30,181,22,181,14,166,11,141,22,119,29,128,17,114,16,97,13,86,5,57,0,55,8"/>
    </map>
    <map name="cheskomap">
        <area href="/" coords="112,66,108,74,94,72,70,65,66,70,55,76,42,77,17,57,6,43,5,34,0,25,2,21,46,4,44,0,50,-1,56,2,63,0,68,1,77,6,89,10,97,23,101,16,123,20,146,40,131,62,118,66" />
    </map>
    <map name="austriamap">
        <area href="/" coords="73,32,36,39,20,34,18,40,5,32,0,45,-1,50,6,57,30,61,53,57,62,65,104,74,116,75,150,66,165,45,174,34,169,17,170,8,129,-1,117,8,98,4,78,20"/>
    </map>
    <map name="ukrainemap">
        <area href="/" coords="180,160,158,188,152,202,143,205,122,208,125,197,129,175,143,168,123,137,93,132,55,157,21,156,13,156,0,145,0,133,4,125,1,114,20,86,9,60,115,37,121,22,160,0,174,0,189,22,204,19,218,33,297,32,309,74,303,86,286,113,234,156,252,168,273,156,277,170,263,179,240,202,225,204,221,192,200,188,209,166,193,172" />
    </map>
</div>

@foreach (var p in Model)
{
    <div class="ProductType">
        @{
            Html.RenderPartial("TypePartial", p);
        }
    </div>
}
