@using System.Xml
@model CasusBelli.Domain.Entities.ProductType

@{
    ViewBag.Title = "EditType";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<h1>@Model.TypeName</h1>

@using (Html.BeginForm("EditType", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()
    <div class="editor-label"><label for="CountryName">Image</label></div>
    <div class="ProductType">
        @if (Model.ImageData == null)
        {
            @:None
        }
        else
        {
            <img width="150" height="150" src="@Url.Action("GetImageType", "Home", new {Model.TypeId})"/>
        }
        <div>Upload new image: <input type="file" name="Image"/></div>
    </div>
    <input type="submit" value="Зберегти зміни"/>
    @Html.ActionLink("Відмінити зміни", "Types")
}
